.row {
  display: flex;
  justify-content: center;
}

.box {
  border-left: solid;
  border-top: solid;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0;
  padding: 10px;
}

h1 {
  text-align: center;
}

.last-col {
  border-right: solid;
}

.last-row {
  border-bottom: solid;
}